.paragraf {
       font-size: 16px;
       color: black;
}


.paragraf2 {
       color: white;
}

.paragraf2 u {
       color: white;
}

p {
       color: blue;
}

ul {
       color: black;
}

u {
       color: black;
}

#daftar3 {
       background-color: yellow;
}