/*Nama : Muhamad Saiful Arif
    Nim : 1903015008
    Kelas : 5A
    Matkul : Prak. Pemrograman Web
*/

body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #ecf0f3;
}
.container{
    width: 45%;
    height: 45vh;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 12px 12px 20px #cbced1, -12px -12px 20px #ffffff;
    background-color: #ade8f4;
}
.display #screen{
    width: 87%;
    height: 70px;
    font-size: 35px;
    margin-left: 32px;
    outline: none;
    border: none;
    text-align: right;
    padding-right: .5em;
    background: #ecf0f3;
    border-radius: 6px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
}
.btns{
    width: 100%;
    margin-top: 1.7em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.btns .row button{
    width: 80px;
    height: 30px;
    font-size: 16px;
    border: none;
    outline: none;
    margin: 5px;
    border-radius: 4px;
    box-shadow: 5px 5px 8px #00000040, -3px -3px 8px #ffffff;
    background-color: #00b4d8;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.btns .row button:hover{
    padding-left: 10px;
}