.judul{
    text-align: center;
}
.regis{
    color: white;
    background-color: blue;
    text-align: center;
    width: 800px;
    height: 30px;
}
.upbuba{
    color: white;
    background-color: red;
    text-align: center;
    width: 800px;
    height: 30px;
}